.main-menu-mobile {
  @media screen and (min-width: 768px) {
    display: none;
  }
  position: relative;
  .menu-icon {
    svg {
      width: 2.5rem;
      height: 2.5rem;
    }
  }
  .nav {
    position: absolute;
    top: 100%;
    right: -2.5rem;
    padding: 2.5rem;
    width: 100vw;
    background-color: #fff;
    z-index: 1000;
    .nav-item {
      padding: 1.5rem 0;
      border-bottom: 1px solid var(--border);
      &:first {
        padding-top: 0;
      }
      &.last {
        padding-bottom: 0;
        border-bottom: none;
      }
      a {
        font-size: 1.6rem;
      }
    }
  }
}

.product-header-mobile {
  display: grid;
  width: 400px;
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
  gap: 10px; /* Adjust the gap between items based on your design */
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  .product-item {
    margin-top: 10px;

  }
}
.product-header-mobile.block {
  display: grid; /* Use grid when it's in block mode */
}

.product-header-mobile.hidden {
  display: none;
}